## TEST_PIPELINE

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn


from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.feature_selection import RFE
from sklearn.pipeline import make_pipeline
from joblib import dump, load

import pickle

In [2]:
def test_pipeline(x_test_path,model):


    X=pd.read_csv(x_test_path)

    numerical_cols=X.select_dtypes(exclude='object')

    scaling=load('Model/standard_scaler.pkl')
    scaled_data=scaling.transform(numerical_cols)
    numerical_scaled_data=pd.DataFrame(scaled_data,columns=numerical_cols.columns)
    Outcome = numerical_scaled_data

    lr=load(model)
    y_pred=pd.DataFrame(lr.predict(Outcome))
    
    return y_pred

### RF

In [3]:
y_pred = test_pipeline("Data/X_test.csv",'Model/Random Forest_model.pkl')

In [4]:
y_pred

     0
0    1
1    0
2    1
3    0
4    0
..  ..
304  0
305  1
306  0
307  0
308  1

[309 rows x 1 columns]

### DT

In [5]:
y_pred = test_pipeline("Data/X_test.csv",'Model/Decision Tree_model.pkl')
y_pred

     0
0    1
1    0
2    0
3    0
4    0
..  ..
304  0
305  1
306  0
307  0
308  1

[309 rows x 1 columns]

### LR

In [6]:
y_pred = test_pipeline("Data/X_test.csv",'Model/Logistic Regression_model.pkl')
y_pred

     0
0    0
1    0
2    1
3    0
4    0
..  ..
304  0
305  0
306  0
307  1
308  1

[309 rows x 1 columns]